.gitattributes

*.so
*.o
*.a

manual/manual.html

slu/ext/lua/testes/time.txt
slu/ext/lua/testes/time-debug.txt

slu/ext/lua/testes/libs/all

temp
/.vs


*.sln
*.vcxproj*
/x64/Debug
/build/
**/_TEST_OUT
